body {
    background-color: rgb(255, 239, 216);
    font: 15px 'Segoe UI', sans-serif;    
    overflow-y: scroll;
}
h1, h2, h3, p, li, hr {
    padding: 0;
    margin: 0;
}
ul {
    padding-left: 1.5em;
    margin: 0;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
}
h1 {
    text-align: center;
}
p {
    margin-top: 8px;
}

#works {
    margin-left: 47vw;
    min-height: 100%;
    max-width: 400px;
    background: #fffaf3;
    padding: 1px 6px 6px 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
#left-wrapper {
    position: fixed;
    top: 8px;
    width: 45vw;    
    min-height: 100%;
    background: #fffaf3;
    padding: 0 6px 6px 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.header {
    display: block;
    overflow: hidden;
    background: #a47e5a url(media/banners.png) no-repeat;
    height: 64px;
    margin-top: 6px;
    line-height: 16px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.header > div {
    display: inline-block;
    padding: 10px;
    height: 48px;
    color: rgb(255, 255, 255);
    padding-right: 28px;
}
.header .title {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    display: block;
}
.header > .date {
    right: 1px;
    top: 0;
}
.header > .type {
    right: 1px;
    bottom: 2px;
}
.header .type, .header .date {
    display: inline-block;
    position: absolute;
    padding: 2px 3px 2px 8px;
    color: white;
}
.box{
    display: block;
    height: auto;
    padding: 6px;
    margin-top: 6px;
    line-height: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.greyed{
    color: rgba(0, 0, 0, 0.386);
    text-align: center;
}
.popup {
    display: none;
    overflow: hidden;
    height: 0px;
}

img{
    display: block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

